<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">
<context:annotation-config/>
    <!-- bean definitions here -->
	<bean id="add1" class="org.springframework.spring_context.AadharCard">
		<property name="aadharNo" value="6j58"/>
		<property name="city" value="hyd"/>
		<property name="state" value="Telengana"/>
	</bean>
	<bean id="ctz" class="org.springframework.spring_context.Citizen">
		<property name="sno" value="101"/>
		<property name="name" value="maha"/>
		<property name="age" value="23"/>
		<!--<property name="aadharcard" ref="add1"/>-->
	</bean>
</beans>
